/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffff;
}

.google-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.g-logo {
  width: 350px;
  height: 200px;
}

.icon{
  width: 20px;
  height: 20px;
}